header > .navbar-default {
  border-radius: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 20pt;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  line-height: 32pt;
}
